.rectangleContainer {
  height: 200px;
  border: 3px solid white;
  background: transparent;
  transition: opacity 0.3 ease;
  cursor: default;
  opacity: 0.6;
}

.rectangleContainer:hover {
  opacity: 1;
}