.glass {
  width: 200px;
  height: 250px;
  backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(216, 209, 216, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass:hover {
  transition: transform 0.5s ease;
  box-shadow: 0 3px 4px rgba(255, 255, 255, 0.3);
}

.glass.disabled-hover {
  pointer-events: none;
}

.glassOrb {
  width: 200px;
  height: 200px;
  backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(216, 209, 216, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.glassOrb:hover {
  transition: transform 1.5s ease;
  box-shadow: 0 3px 4px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.glassOrb2 {
  width: 170px;
  height: 170px;
  backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(216, 209, 216, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.glassOrb2:hover {
  transition: transform 1.5s ease;
  box-shadow: 0 3px 4px rgba(255, 255, 255, 0.3);
}

.glassOrbText {
  text-align: center;
  opacity: 1;
}

.glassOrb.disabled-hover {
  pointer-events: none;
}